@import './vars.scss';
@mixin resetElements {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flexCenter($content: center, $items: center, $direction: row) {
      display: flex;
      justify-content: $content;
      align-items: $items;
      flex-direction: $direction;
}
@mixin textShadow {
    text-shadow: 3px 3px 8px rgba($color: #000000, $alpha: .3);
}